/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

 /* ----- Body background, text, and headings ----- */
:root {
    --bs-primary: #8e3333;
    --bs-primary-rgb: 142, 51, 51;
    --bs-link-color: #8e3333;
    --bs-link-hover-color: #b54e4e;
    --bs-link-color-rgb: 142, 51, 51;
    --bs-link-hover-color-rgb: 181, 78, 78;
    --bs-btn-focus-shadow-rgb: 142, 51, 51;
}

.pagination .page-link,
.pagination .page-link:hover,
.pagination .page-link:focus,
.pagination .page-item.active .page-link {
    color: #8e3333 !important;
}

.btn-group.my-3,
.btn-group.my-3 .btn {
    color: #8e3333 !important;
    border-color: #8e3333 !important;
}

.btn-group.my-3 .btn:hover,
.btn-group.my-3 .btn:focus,
.btn-group.my-3 .btn:active,
.btn-group.my-3 .btn.active {
    background-color: #8e3333 !important;
    border-color: #8e3333 !important;
    color: #fff !important;
}

.btn.btn-light {
    color: #000000 !important;
    border-color: #8e3333 !important;
    background-color: #fff !important;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active {
    background-color: #8e3333 !important;
    border-color: #8e3333 !important;
    color: #fff !important;
}
 // I want this button to be red when hovered over, but I want the text to be white. I also want the border to be red when hovered over.
 .btn.btn-outline-primary,
 .btn.btn-outline-primary:hover {
    color: #8e3333 !important;
    border-color: #8e3333 !important;
    background-color: #fff !important;
}

.pagination .page-item.active .page-link {
    background-color: #8e3333;
    border-color: #8e3333;
    color: #fff !important;
}

.btn .btn-outline-primary .dropdown-toggle {
    color: #8e3333 !important;
    border-color: #8e3333 !important;
}

.btn-primary {
    --bs-btn-bg: #8e3333;
    --bs-btn-border-color: #8e3333;
    --bs-btn-hover-bg: #b54e4e;
    --bs-btn-hover-border-color: #7a2a2a;
    --bs-btn-active-bg: #6a2424;
    --bs-btn-active-border-color: #6a2424;
    --bs-btn-disabled-bg: #8e3333;
    --bs-btn-disabled-border-color: #8e3333;
}

.btn-success {
    --bs-btn-bg: #8e3333;
    --bs-btn-hover-bg: #b54e4e;
}

.col-md-12 {
    display: none;
}

#scroll-to-top .icon-sprite {
    filter: brightness(0) saturate(100%) invert(23%) sepia(47%) saturate(1524%) hue-rotate(323deg) brightness(91%) contrast(94%) !important;
}

.marker-cluster,
.marker-cluster-small {
    background-color: rgba(201, 107, 107, 0.6) !important;
    border-color: rgba(201, 107, 107, 0.8) !important;
}

.marker-cluster div,
.marker-cluster-small div {
    background-color: rgba(209, 79, 79, 0.8) !important;
    color: #fff !important;
}
